<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Schronisko Futrzak | Przeglądaj zwierzęta</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand">Schronisko"Futrzak"</a>
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/}">Strona główna</a>
        <a class="nav-link" th:href="@{/animals}">Przęglądaj zwierzęta</a>
    </li>
</nav>

</body>
</html>