<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Schronisko Futrzak | Strona główna</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css}">
    <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-success clean-navbar" style="background: var(--bs-gray-100);color: rgb(255,255,255);">
        <div class="container">
            <a class="navbar-brand link-warning logo" th:href="@{/}">Schronisko "Futrzak"</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(50,186,104);">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <div sec:authorize ="hasAnyRole('EMPLOYEE','ADMIN')">
                            <a class="nav-link active" th:href="@{/reservations}">Rezerwacje</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize ="hasAnyRole('USER','EMPLOYEE','ADMIN')">
                            <a class="nav-link active" th:href="@{/reservation}">Rezerwacja</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize ="hasAnyRole('EMPLOYEE','ADMIN')">
                        <a class="nav-link active" th:href="@{/adoptions}">Historia adopcji</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize ="hasRole('ADMIN')">
                            <a class="nav-link active" th:href="@{/users}">zarządzaj użytkownikami</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize ="hasAnyRole('EMPLOYEE','ADMIN')">
                            <a class="nav-link active" th:href="@{/manage_animals}">zarządzaj zwierzętami</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize="!isAuthenticated()">
                            <a class="nav-link active" th:href="@{/login}">zaloguj</a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <a class="nav-link active" th:href="@{/logout}">wyloguj</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div sec:authorize="!isAuthenticated()">
                            <a class="nav-link active" th:href="@{/users/register}">zarejestruj</a>
                        </div>
                    </li>
                </ul>
                </div>
                </div>
            </nav>
                <main class="page landing-page">
                    <header class="d-lg-flex justify-content-lg-center clean-block clean-hero" 
                    style="color: rgba(9,162,255,0);background: url(&quot;/assets/img/tech/piesek_banner.jpg&quot;) 
                    top no-repeat;border-color: rgba(9,162,255,0);transform-origin: top;height: 589px;">
                    <div class="text">
                        <h1 class="display-3">Schronisko "Futrzak"</h1>
                        <p class="text-center text-white">Kliknij aby przeglądnąć listę dostępnych zwierząt</p>
                        <a class="btn btn-outline-light btn-lg shadow-lg" role="button" th:href="@{/animals}">Przeglądaj zwierzęta</a>
                    </div>
                    </header>
                    <section class="clean-block clean-info dark">
                        <div class="container">
                            <div class="block-heading">
                                <h2 class="text-success">Informacja</h2>
                        <p>Schronisko dla zwierząt „Futrzak” jest placówką, która przyjmuje w głównej mierze bezdomne zwierzęta domowe. W przeciągu kilkunastu lat działalności wyrobiło sobie dobrą opinię jako<br>schronisko, któremu bardzo zależy na dobru zwierząt.
                            <br>
                        </p>
                    </div>
                        <div class="row align-items-center"><div class="col-md-6"><img class="img-thumbnail" src="/assets/img/tech/pies1.jpg">
                        </div>
                        <div class="col-md-6"><h3>Zwierzęta czekają na nowy dom</h3>
                            <div class="getting-started-info">
                                <p></p>
                            </div>
                            <a class="btn btn-outline-primary btn-lg" th:href="@{/users/register}">Rejestracja</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <script src="static/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
        <script src="static/assets/js/script.min.js"></script>
    </body>
    </html>