<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Schronisko Futrzak</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand">Schronisko"Futrzak"</a>
    <li class="nav-item active">
        <a class="nav-link" th:href="@{/animals}">Przęglądaj zwierzęta</a>
        <a class="nav-link" th:href="@{/reservations}">Przęglądaj rezerwacje</a>
        <div sec:authorize = "hasRole('ADMIN')">
        <a class="nav-link" th:href="@{/users}">Zarządzaj użytkownikami</a>
        </div>
        <div sec:authorize ="hasAnyRole('USER','ADMIN')">
        <a class="nav-link" th:href="@{/manage_animals}">Zarządzaj zwierzętami</a>
        </div>
        <div sec:authorize="!isAuthenticated()">
            <a class="nav-link" th:href="@{/users/register}">Zarejestruj</a>
            <a class="nav-link" th:href="@{/login}">Zaloguj sie</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="@{/reservation}">Rezerwacja</a>
            <a class="nav-link" th:href="@{/logout}">Wyloguj sie</a>
        </div>
    </li>

</nav>
</body>
</html>