<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class ="container-fluid">
    <div class="text-center"><h2>Login</h2></div>
    <form th:action="@{/login_form.html}" method="post">
        <label for="username">Email</label>
        <input type="text" id="username" name="username" autofocus="autofocus" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" />
        <input id="submit" type="submit" value="Log in" />
    </form>
</div>
<script type="text/javascript">
    function cancelForm(){
        window.location="[[@{/index}]]";
    }
</script>
</body>
</html>