<!DOCTYPE html>
<html class="text-white" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Schronisko Futrzak | Zarządzaj zwierzętami</title>
        <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i}">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css}">
        <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}">
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-success clean-navbar" style="background: var(--bs-gray-100);color: rgb(255,255,255);">
            <div class="container">
                <a class="navbar-brand link-warning logo" th:href="@{/}">Schronisko "Futrzak"</a>
                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(50,186,104);">
                    <ul class="navbar-nav ms-auto">
                        <div sec:authorize ="hasAnyRole('EMPLOYEE','ADMIN')">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/reservations}">Rezerwacje</a>
                            </li>
                        </div>
                        <div sec:authorize ="hasAnyRole('USER','EMPLOYEE','ADMIN')">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/reservation}">Rezerwacja</a>
                            </li>
                        </div>
                        <div sec:authorize ="hasAnyRole('EMPLOYEE','ADMIN')">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/adoptions}">adopcje</a>
                            </li>
                        </div>
                        <div sec:authorize ="hasRole('ADMIN')">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/users}">użytkownicy</a>
                            </li>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/animals}">zwierzeta</a>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize="!isAuthenticated()">
                                <a class="nav-link active" th:href="@{/login}">zaloguj</a>
                            </div>
                            <div sec:authorize="isAuthenticated()">
                                <a class="nav-link active" th:href="@{/logout}">wyloguj</a>
                            </div>
                        </li>
                        <div sec:authorize="!isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/users/register}">zarejestruj</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="page">
            <section class="clean-block about-us" style="height: 183px;">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-success">Zarządzaj zwierzętami</h2>
                    </div>
                    <div th:if="${message}" class="alert alert-success text-center">
                        [[${message}]]
                    </div>
                </div>
            </section>
        </main>
        <div class="table-responsive">
            <a class="btn btn-outline-success btn-lg" th:href="@{/manage_animals/new}">Dodaj nowe zwierze</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Imie</th>
                        <th>Typ</th>
                        <th>Rasa</th>
                        <th>Opiekun</th>
                        <th>Status</th>
                        <th>Wiek</th>
                        <th>Płeć</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="animal : ${listAnimals}">
                    <tr>
                        <td>[[${animal.id}]]</td>
                        <td>[[${animal.name}]]</td>
                        <td>[[${animal.idRace.idType.name}]]</td>
                        <td>[[${animal.idRace.name}]]</td>
                        <td>[[${animal.idUser.email}]]</td>
                        <td>[[${animal.status}]]</td>
                        <td>[[${animal.age}]]</td>
                        <td>[[${animal.gender}]]</td>
                        <td>
                            <a class="btn btn-success text-end" th:href="@{'/manage_animals/edit/'+${animal.id}}" type="button" style="margin: -1px;">Edytuj</a>
                            <a class="btn btn-danger text-end" th:href="@{'/manage_animals/delete/'+${animal.id}}" type="button" style="margin: 0px;">Usuń</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>

        </div>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
        <script src="/assets/js/script.min.js"></script>
    </body>
</html>