<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Schronisko Futrzak | Przeglądaj zwierzęta</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div>
    <br>
    <br>
</div>
<div>
    <table class = "table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Imie</th>
            <th>Typ</th>
            <th>Rasa</th>
            <th>Opiekun</th>
            <th>Status</th>
            <th>Wiek</th>
            <th>Płeć</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="animal : ${listAnimals}">
            <tr>
                <td>[[${animal.id}]]</td>
                <td>[[${animal.name}]]</td>
                <td>[[${animal.idRace.idType.name}]]</td>
                <td>[[${animal.idRace.name}]]</td>
                <td>[[${animal.idUser.email}]]</td>
                <td>[[${animal.status}]]</td>
                <td>[[${animal.age}]]</td>
                <td>[[${animal.gender}]]</td>
                <td>
                    <a class="h4 m-3" th:href="@{'/manage_animals/edit/'+${animal.id}}">Edytuj</a>
                    <a class="h4" th:href="@{'/manage_animals/delete/'+${animal.id}}">Usuń</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <div class="m-2">
        <a class="h3" th:href="@{/manage_animals/new}">Dodaj nowe zwierze</a>
    </div>
</div>
</body>
</html>