<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowego użytkownika</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class ="container-fluid">
    <div class="text-center"><h2>Zarezerwuj zwierze</h2></div>
    <form th:action="@{'/reservations/save/' + ${idAnimal}}" method = "post" th:object ="${reservation}"
          style="max-width: 500px; margin:0 auto; ">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Opis:</label>
                <div class="col-sm-8">
                    <label>
                        <textarea th:field="*{description}" rows = 10 cols = 35 required maxlength="45">
                        </textarea>
                    </label>
                </div>
                Wypełnij dane potencjalnego właściciela
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Imię:</label>
                    <div class="col-sm-8">
                        <label>
                            <input type="text" th:field="*{name}" class="form-control " maxlength="45"/>
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Nazwisko:</label>
                    <div class="col-sm-8">
                        <label>
                            <input type="text" th:field="*{surname}" class="form-control"  maxlength="45"/>
                        </label>
                    </div>
                </div>
                <div class="form-group row" >
                    <label class="col-sm-4 col-form-label">Adres:</label>
                    <div class="col-sm-8">
                        <label>
                            <input type="text" th:field="*{address}" class="form-control"  maxlength="45"/>
                        </label>
                    </div>
                </div>
                <div class="form-group row" >
                    <label class="col-sm-4 col-form-label">Data urodzenia:</label>
                    <div class="col-sm-8">
                        <label>
                            <input type="date" th:field="*{birthday}"/>
                        </label>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Zarezerwuj</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Anuluj</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm(){
        window.location="[[@{/manage_animals}]]";
    }
</script>
</body>
</html>