<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nowe zwierze </title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class ="container-fluid">
    <div class="text-center"><h2>Nowe zwierze</h2></div>
    <form th:action="@{/manage_animals/save}" method = "post" th:object ="${animal}"
          style="max-width: 500px; margin:0 auto; ">
        <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Imie:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" th:field="*{name}" class="form-control " required minlength="2" maxlength="45"/>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Wiek:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="number" th:field="*{age}" class="form-control" required minlength="2" maxlength="45"/>
                    </label>
                </div>
            </div>
            <div class="form-group row" >
                <label class="col-sm-4 col-form-label">Data przyjecia:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="date" th:field="*{arrivalDate}"/>
                    </label>
                </div>
            </div>
            <div class="form-group row" >
                <label class="col-sm-4 col-form-label">Numer klatki:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="number" th:field="*{cageNumber}" class="form-control" required minlength="4" maxlength="45"/>
                    </label>
                </div>
            </div>
            <div class="form-group row" >
                <label class="col-sm-4 col-form-label">Płeć</label>
                <div class="col-sm-8">
                    <label>
                        <input type="radio" th:field="*{gender}" th:value="male" />
                    </label> Male <br>
                    <label>
                        <input type="radio" th:field="*{gender}" th:value="female" />
                    </label> Female <br>
                </div>
            </div>
            <br>
            <div class="form-group row" >
                <label class="col-sm-4 col-form-label">Status</label>
                <div class="col-sm-8">
                    <label>
                        <input type="radio" th:field="*{status}" th:value="available" />
                    </label> Wolny <br>
                    <label>
                        <input type="radio" th:field="*{status}" th:value="reserved" />
                    </label> Zarezerwowany <br>
                    <label>
                        <input type="radio" th:field="*{status}" th:value="adopted" />
                    </label> Zaadoptowany <br>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Rasa</label>
                <select id="race" required th:field="*{idRace.id}" class="form-control ">
                    <option value="" hidden>Wybierz rase</option>
                    <option th:each="race : ${races}"
                            th:value="${race.id}"
                            th:text="${race.name}">
                    </option>
                </select>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Opiekun</label>
                <select id="user" required th:field="*{idUser.id}" class="form-control ">
                    <option value="" hidden>Wybierz rase</option>
                    <option th:each="user : ${users}"
                            th:value="${user.id}"
                            th:text="${user.email}">
                    </option>
                </select>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm(){
        window.location="[[@{/manage_animals}]]";
    }
</script>
</body>
</html>