<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Schronisko Futrzak | Zarezerwuj</title>
        <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i}">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css}">
        <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}">
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-success clean-navbar" style="background: var(--bs-gray-100);color: rgb(255,255,255);">
            <div class="container">
                <a class="navbar-brand link-warning logo" th:href="@{/}">Schronisko "Futrzak"</a>
                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(50,186,104);">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <div sec:authorize ="hasAnyRole('EMPLOYEE','ADMIN')">
                                <a class="nav-link active" th:href="@{/reservations}">Rezerwacje</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize ="hasAnyRole('USER','EMPLOYEE','ADMIN')">
                                <a class="nav-link active" th:href="@{/reservation}">Rezerwacja</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize ="hasAnyRole('EMPLOYEE','ADMIN')">
                                <a class="nav-link active" th:href="@{/adoptions}">Historia adopcji</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize ="hasRole('ADMIN')">
                                <a class="nav-link active" th:href="@{/users}">zarządzaj użytkownikami</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize ="hasAnyRole('EMPLOYEE','ADMIN')">
                                <a class="nav-link active" th:href="@{/manage_animals}">zarządzaj zwierzętami</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize="!isAuthenticated()">
                                <a class="nav-link active" th:href="@{/login}">zaloguj</a>
                            </div>
                            <div sec:authorize="isAuthenticated()">
                                <a class="nav-link active" th:href="@{/logout}">wyloguj</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize="!isAuthenticated()">
                                <a class="nav-link active" th:href="@{/users/register}">zarejestruj</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="page registration-page">
            <section class="clean-block clean-form dark">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-success">Zarezerwuj zwierzę</h2>
                    </div>
                </div>
                <form th:action="@{'/reservations/save/' + ${idAnimal}}" method = "post" th:object ="${reservation}" style="height: 587px;">
                    <div class="mb-3">
                        <label class="form-label" th:field="*{description}">Opis</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <small>Wypełnij jeżeli zwierzę rezerwowane jest dla kogoś innego</small>
                    <div class="mb-3">
                        <label class="form-label" for="name">Imię</label>
                        <input class="form-control item" th:field="*{name}" type="text" id="name" maxlength="45">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="surname">Nazwisko</label>
                        <input class="form-control" th:field="*{surname}" type="text" id="surname" maxlength="45">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Adres</label>
                        <input class="form-control" th:field="*{address}" type="text" maxlength="45">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Data urodzenia</label>
                        <input class="form-control" th:field="*{birthday}" type="date">
                    </div>
                    <button class="btn btn-primary" type="submit" style="padding: 5px 12px;margin: 1px;">Zarezerwuj</button>
                    <button class="btn btn-primary" onclick="cancelForm()" type="button" style="margin: 15px;padding: 6px 12px;background: rgb(151,154,159);border-width: 0px;">Anuluj</button>
                </form>
            </section>
        </main>
        <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
        <script src="/assets/js/script.min.js"></script>
        <script type="text/javascript">
            function cancelForm(){
                window.location="[[@{/}]]";
            }
        </script>
    </body>
</html>