<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class ="container-fluid">
    <div class="text-center"><h2>Rejestracja</h2></div>
    <form th:action="@{/users/save_register}" method = "post" th:object ="${user}"
          style="max-width: 500px; margin:0 auto; ">
        <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">E-mail:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="email" th:field="*{email}" class="form-control" required minlength="8" maxlength="45"/>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Imie:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" th:field="*{name}" class="form-control " required minlength="2" maxlength="45"/>
                    </label>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nazwisko:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" th:field="*{surname}" class="form-control" required minlength="2" maxlength="45"/>
                    </label>
                </div>
            </div>
            <div class="form-group row" >
                <label class="col-sm-4 col-form-label">Haslo:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="password" th:field="*{password}" class="form-control" required minlength="4" maxlength="15"/>
                    </label>
                </div>
            </div>
            <div class="form-group row" >
                <label class="col-sm-4 col-form-label">Adres:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="text" th:field="*{address}" class="form-control" required minlength="4" maxlength="45"/>
                    </label>
                </div>
            </div>
            <div class="form-group row" >
                <label class="col-sm-4 col-form-label">Data urodzenia:</label>
                <div class="col-sm-8">
                    <label>
                        <input type="date" th:field="*{birthday}"/>
                    </label>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Zarejestruj</button>
                <button type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Anuluj</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm(){
        window.location="[[@{/users}]]";
    }
</script>
</body>
</html>