<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Schronisko Futrzak | Rezerwacja</title>
        <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i}">
        <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css}">
        <link rel="stylesheet" th:href="@{/assets/css/styles.min.css}">
    </head>
    <body>
        <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-success clean-navbar" style="background: var(--bs-gray-100);color: rgb(255,255,255);">
            <div class="container">
                <a class="navbar-brand link-warning logo" th:href="@{/}">Schronisko "Futrzak"</a>
                <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(50,186,104);">
                    <ul class="navbar-nav ms-auto">
                        <div sec:authorize ="hasAnyRole('EMPLOYEE','ADMIN')">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/reservations}">Rezerwacje</a>
                            </li>
                        </div>
                        <div sec:authorize ="hasAnyRole('EMPLOYEE','ADMIN')">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/adoptions}">adopcje</a>
                            </li>
                        </div>
                        <div sec:authorize ="hasRole('ADMIN')">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/users}">użytkownicy</a>
                            </li>
                        </div>
                        <div sec:authorize ="hasAnyRole('EMPLOYEE','ADMIN')">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/manage_animals}">zwierzęta</a>
                            </li>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/animals}">przeglądaj zwierzeta</a>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize="!isAuthenticated()">
                                <a class="nav-link active" th:href="@{/login}">zaloguj</a>
                            </div>
                            <div sec:authorize="isAuthenticated()">
                                <a class="nav-link active" th:href="@{/logout}">wyloguj</a>
                            </div>
                        </li>
                        <div sec:authorize="!isAuthenticated()">
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/users/register}">zarejestruj</a>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
        <main class="page">
            <section class="clean-block about-us" style="height: 173px;">
                <div class="container">
                    <div class="block-heading">
                        <h2 class="text-success">Złożona rezerwacja</h2>
                        <p></p>
                    </div>
                </div>
            </section>
        </main>
        <div class="card border-secondary shadow-lg d-flex float-start d-xxl-flex flex-fill justify-content-md-center align-items-md-start justify-content-xxl-center"
             style="transform: perspective(110px) translate(450px) scale(0.88);width: 857px;height: 500px;text-align: left;">
            <div class="card-body" style="transform: perspective(0px) translate(36px) scale(0.99);">
                <h4 class="card-title">Data: [[${reservation.date}]]</h4>
                <p>Imie: [[${reservation.name}]]</p>
                <p>Nazwisko: [[${reservation.surname}]]</p>
                <p>Adres: [[${reservation.address}]]</p>
                <p>Opis: [[${reservation.description}]]</p>
                <p>Imie zwierzęcia: [[${animal.name}]]</p>
                <p>Opis zwierzęcia: [[${animal.description}]]</p>
                <p>Opiekun: [[${animal.idUser.email}]] </p>
                <h6 class="text-muted card-subtitle mb-2"></h6>
                <a class="card-link text-center" th:href="@{'/reservation/cancel/'+${reservation.id.idReservation}
                    +'/'+${reservation.id.idAnimal}+'/'+${reservation.id.idUser}}" style="transform: translate(-1000px);text-align: center;">Anuluj rezerwacje</a>
            </div>
        </div>         <div></div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>
</html>