<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Schronisko Futrzak | Przeglądaj reserwacje</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div>
    <br>
    <br>
</div>
<div>
    <table class = "table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Data rezerwacji</th>
            <th>Opis</th>
            <th>Id Zwierzecia</th>
            <th>Id Usera</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Data urodzenia</th>
            <th>Adress</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="reservation : ${listOfReservations}">
            <tr>
                <td>[[${reservation.id.idReservation}]]</td>
                <td>[[${reservation.date}]]</td>
                <td>[[${reservation.description}]]</td>
                <td>[[${reservation.id.idAnimal}]]</td>
                <td>[[${reservation.id.idUser}]]</td>
                <td>[[${reservation.name}]]</td>
                <td>[[${reservation.surname}]]</td>
                <td>[[${reservation.birthday}]]</td>
                <td>[[${reservation.address}]]</td>
                <td>
                    <a class="h4 m-3" th:href="@{'/reservations/delete/'+${reservation.id.idReservation}
                    +'/'+${reservation.id.idAnimal}+'/'+${reservation.id.idUser}}">Usuń</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
</body>
</html>