<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Schronisko Futrzak | Przeglądaj użytkowników</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="style.css" rel="stylesheet">
</head>
<body>
<div>
    <br>
    <br>
</div>
<div>
    <table class = "table table-bordered">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Haslo</th>
            <th>E-mail</th>
            <th>Adres</th>
            <th>Data urodzenia</th>
            <th>Rola</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="user : ${listOfUsers}">
            <tr>
               <td>[[${user.getId()}]]</td>
                <td>[[${user.name}]]</td>
                <td>[[${user.surname}]]</td>
                <td>[[${user.password}]]</td>
                <td>[[${user.email}]]</td>
                <td>[[${user.address}]]</td>
                <td>[[${user.birthday}]]</td>
                <td>[[${user.role}]]</td>
                <td>
                    <a class="h4 m-3" th:href="@{'/users/edit/'+${user.id}}">Edytuj</a>
                    <a class="h4" th:href="@{'/users/delete/'+${user.id}}">Usuń</a>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>

    <div class="m-2">
        <a class="h3" th:href="@{/users/new}">Dodaj nowego użytkownika</a>
    </div>
</div>
</body>
</html>